/* Basic styles */
body {
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/eu_flag.png) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

/* Quiz Container */
.quiz-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000000;
    padding: 20px 30px;
    border-radius: 10px;
    width: 70%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#question {
    font-size: 1.2rem;
}

#answers {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

/* Buttons style */
button {
    padding: 10px;
    margin: 10px auto;
    display: block;
    font-size: 1rem;
    width: 40%;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #003776; /* EU blue */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #014ea6; 
    outline: 2px solid #ffd617; 
    transform: scale(1.02);
}

.hidden {
    display: none;
}



/* Styles for visual user feedback */
.correct {
    background-color: #1a721a !important;
}

.incorrect {
    background-color: #cf0a0a !important;
}

/* Responsiveness for screens under 600px */
@media (max-width: 600px) {
    .quiz-container {
        padding: 10px 15px;
        width: 80%;
    }

    #quiz-title {
        font-size: 1.5rem;
    }

    #question {
        font-size: 1.1rem;
    }

    button {
        font-size: 0.8rem;
        width: 55%;
    }
}